.page.pt-learn(data-simplebar='')
    section.container
        // Section Title
        .header-page.mt-70.mob-mt
            h2= t('learn_about')
            span

        .row.mt-100
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Blockchain' src='images/learn/blockchain.jpg')
                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/xresch-7410129/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3747504' target='new') xresch
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3747504' target='new') Pixabay

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('blockchain')
                                p!= t('learn_blockchain_text')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .col-12
                                .photo
                                    img(alt='Blockchain' src='images/learn/cardano.png')
                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3 Cardano?
                                p!= t('learn_cardano_text1')
                                p!= t('learn_cardano_text2')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Proof of Stake' src='images/learn/pos.jpg')

                            .row
                                .col-12.credit
                                    | Original image by
                                    |
                                    |
                                    a(href='https://pixabay.com/users/nattanan23-6312362/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2696234' target='new') Nattanan Kanchanaprat
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2696234' target='new') Pixabay
                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('proof_of_stake')
                                p!= t('learn_pos_text')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Proof of Stake' src='images/learn/pow.jpg')

                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/rebcenter-moscow-6351207/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2852024' target='new') &Lcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; &Ncy;&acy;&rcy;&kcy;&ocy;&mcy;&acy;&ncy;&icy;&icy;
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2852024' target='new') Pixabay
                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('proof_of_work')
                                p!= t('learn_pow_text')


        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Proof of Stake' src='images/learn/scale.jpg')

                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/MamaClown-6746727/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2862708' target='new') Janine Bolon
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2862708' target='new') Pixabay

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('pos_vs_pow')
                                p!= t('learn_vs_text1')
                                p!= t('learn_vs_text2')
                                p!= t('learn_vs_text3')
                                p!= t('learn_vs_text4')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Proof of Stake' src='images/learn/sunrise.jpg')

                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1756274' target='new') Arek Socha
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1756274' target='new') Pixabay

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('game_changer')
                                p!= t('learn_gamechanger_text1')
                                p!= t('learn_gamechanger_text2')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Proof of Stake' src='images/learn/monopoly.jpg')

                            .row
                                .col-12.credit
                                    = t('original_photo_by')
                                    |
                                    |
                                    a(href='https://www.pexels.com/@suzyhazelwood?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels' target='new') Suzy Hazelwood
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://www.pexels.com/photo/white-and-purple-monopoly-trading-card-on-gray-surface-1329644/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels' target='new') Pexels


                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3!= t('why_care')
                                p!= t('learn_care_text1')
                                p!= t('learn_care_text2')
                                p!= t('learn_care_text3')