.page.pt-the-project(data-simplebar='')
    section.container
        // Section Title
        .header-page.mt-70.mob-mt
            h2= t('the_project')
            span

        .row.mt-100
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Raspberry Pi Cluster' src='images/project/cluster.jpg')

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('my_project')
                                p!= t('project_myproject_text1')
                                p!= t('project_myproject_text2')

                                h4= t('project_myproject_text3')

                                p= t('project_myproject_text4')

                                ul
                                    li!= t('project_myproject_li_1')
                                    li= t('project_myproject_li_2')
                                    li= t('project_myproject_li_3')
                                    li= t('project_myproject_li_4')
                                    li= t('project_myproject_li_5')
                                    li= t('project_myproject_li_6')
                                    li= t('project_myproject_li_7')

                                p= t('project_myproject_text5')

                                ul
                                    li= t('project_myproject_li_8')
                                    li= t('project_myproject_li_9')
                                    li= t('project_myproject_li_10')
                                    li= t('project_myproject_li_11')

                                p= t('project_myproject_text6')

                                h4= t('project_myproject_text7')

                                p!= t('project_myproject_text8')

                                p!= t('project_myproject_text9')

                                h4= t('project_myproject_text10')

                                p!= t('project_myproject_text11')

                                p!= t('project_myproject_text12')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Pool' src='images/project/pool.jpg')
                            .row
                                .col-12.credit
                                    = t('original_photo_by')
                                    |
                                    |
                                    a(href='https://www.pexels.com/@serjosoza?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels' target='new') sergio  souza
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://www.pexels.com/photo/people-swimming-at-the-pool-1875770/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels' target='new') Pexels

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('what_a_stakepool')
                                p= t('project_what_stakepool_text1')
                                p!= t('project_what_stakepool_text2')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Delegation' src='images/project/delegation.jpg')
                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/stevepb-282134/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1523383' target='new') Steve Buissinne
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1523383' target='new') Pixabay

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3=t('what_delegation')
                                p!= t('project_delegation_text1')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Blockchain' src='images/project/shelley.png')
                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('testnet_shelley')
                                p!= t('project_tesnet_text1')
                                p= t('project_tesnet_text2')
                                p!= t('project_tesnet_text3')
                                p!= t('project_tesnet_text4')


        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Blockchain' src='images/project/wallets.png')

                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('how_delegate')
                                p!= t('project_howdelegate_text1')

        .row.mt-50
            .col-lg-12.col-sm-12
                .info.box-1
                    .row
                        .col-lg-3.col-sm-4
                            .row
                                .col-12
                                    .photo
                                        img(alt='Blockchain' src='images/project/question-mark.jpg')
                            .row
                                .col-12.credit
                                    = t('original_image_by')
                                    |
                                    |
                                    a(href='https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1872634' target='new') Arek Socha
                                    |
                                    |
                                    = t('from')
                                    |
                                    |
                                    a(href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1872634' target='new') Pixabay


                        .col-lg-9.col-sm-8
                            .col-md-12
                                .header-box.mb-50
                                    h3= t('how_choose_pool')
                                p= t('project_choosepool_text1')
                                p= t('project_choosepool_text2')
                                p= t('project_choosepool_text3')
                                p= t('project_choosepool_text4')
                                p!= t('project_choosepool_text5')
                                p= t('project_choosepool_text6')